/* $color-bg: snow;
$color-form-one: darkblue;
$color-form-two: lightblue;
$color-btn-one: grey;
$color-btn-two: lightgrey;
$color-btn-three: darkgreen;

$color-font-main: black;
$font-title: 'Rightrous';
$font-main: 'Montserrat', sans-serif; */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto;
  background: lightgrey;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.home-section{
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.home-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.home-box{
  display: flex;
  position: static;
  width:auto;
  margin: 40px 0;
  background-color: transparent;
}

.home-box-user{
  display: flex;
  position: static;
  width:auto;
  background-color: transparent;
}


.button-home-page {
  margin: 10px 200px;
  width: 250px;
  height: 70px;
  border-radius: 10px;
  border-color: black;
  background-color: white;
  padding-top: 5px;
  border-style: solid;
  opacity: 0.5;
}

.button-login {
  width: 150px;
  height: 35px;
  border-radius: 7px;
  background-color: white;
  border-style: solid;
  opacity: 0.5;
  border-color: black;
}

.button-about {
  width: 250px;
  height: 35px;
  border-radius: 7px;
  background-color: white;
  border-style: solid;
  opacity: 0.5;
  border-color: black;
}

.button-home-page:hover, .button-login:hover, .button-about:hover {
  background-color: lightblue;
  opacity: unset;
}

.button-home-page:active, .button-login:active, .button-about:active {
  background-color: blue;
  opacity: unset;
  transform: translateY(4px);
}

.video{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: cover;
}


@media screen and (max-width: 768px) {
  .home-box-user {
  flex-direction: column;
  }
  .home-box {
    margin: 30px 0;
  }
}