.mx-3 {
  text-decoration: none;
  color: black;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  }

.mx-3:hover {
  text-shadow: 1px 1px 2px #5468ff, 0 0 1em #a2adff, 0 0 0.2em #a2adff;
}

.navbar {
  padding: 0;
  background-color: #a2adff;
}

.navbar-brand {
  text-decoration: none;
  color: black;
  font-family: 'Expletus Sans', cursive;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}

#logo-nav{
  width: 70px;
  margin: 0;
  padding: -5px;
}