.mx-3 {
  text-decoration: none;
  color: black;
  font-family: 'Milonga', cursive;
  }

.navbar {
  background-image: radial-gradient(100% 100% at 100% 0, #e7eefd 0, #a2adff 100%);
  padding: 0;
}

.navbar-brand {
  text-decoration: none;
  color: black;
  font-family: 'Tangerine', cursive;
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
}

#logo-nav{
  width: 80px;
  margin: 0;
  padding: 0;
}