

.pet-form-main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;

}

.pet-form-input {
  width: 450px;
  background-image: radial-gradient(100% 100% at 100% 0, #e7eefd 0, #a2adff 100%);
  padding: 5px 5px 20px;
  margin: 10px 0;
  border-radius: 7px;
  border-color: #5468ff;
  border-style: solid;
  font-family: 'Gloria Hallelujah', cursive;
  box-shadow: 0 0 15px 15px white;
}

/* .mb-3 {
  display: flex;
  flex-direction: row !important;
  height: 30px;
}
.form-control{
  margin-left: 10px;
} */

.pet-form-label {
  min-width: 50px;
  max-width: 50px;
  margin-right: 100px;
}

.pet-photo {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .pet-form-input {
  width: 350px;
  }
  .pet-photo, .pet-photo {
    margin-left: 2px;
  }
  .pet-form-label {
    margin-right: 80px;
  }
}



