
.pet-form-main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  padding: 0;

}

.pet-form-input {
  width: 1000px;
  background-image: radial-gradient(100% 100% at 100% 0, #e7eefd 0, #a2adff 100%);
  padding: 5px 5px 20px;
  margin: 10px 0;
  border-radius: 7px;
  border-color: #5468ff;
  border-style: ridge;
  font-family: 'Milonga', cursive;
  font-weight: 50px;
  box-shadow: 0 0 15px 15px white;
}
.mb-3-plus {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  height: 30px;
  margin: 20px 0;
}

.pet-form-label {
  min-width: 50px;
  max-width: 50px;
  margin-right: 80px;
}

.pet-photo {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .pet-form-input {
  width: 350px;
  }
  .pet-photo {
    margin-left: 2px;
  }
  .pet-form-label {
    margin-right: 80px;
  }
}



