

.pet-form-main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;

}

.pet-form-input {
  width: 450px;
  background-image: radial-gradient(100% 100% at 100% 0, rgba(202, 202, 202, 0.9) 0, rgba(161, 161, 161, 0.9) 100%);
  padding: 5px 5px 20px;
  margin: 10px 0;
  border-radius: 7px;
}

/* .mb-3 {
  display: flex;
  flex-direction: row !important;
  height: 30px;
}
.form-control{
  margin-left: 10px;
} */

.pet-form-label {
  min-width: 50px;
  max-width: 50px;
  margin-right: 100px;
}

.pet-photo {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .pet-form-input {
  width: 350px;
  }
  .pet-photo, .pet-photo {
    margin-left: 2px;
  }
  .pet-form-label {
    margin-right: 80px;
  }
}





.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Gloria Hallelujah', cursive;
  height: 35px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  margin-top: 10px;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  width: 150px;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

