.sitters-page-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background:rgba(255,255,255, 0.8);
  width: 100%;
  height: 100%;
  margin: 15px 0;
  padding: 20px 30px;
  border-radius: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}

.sitter-page-detailes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color:  #e7eefd;
  border-radius: 7px;
  border-color: #5468ff;
  border-style: ridge;
  padding: 10px 40px;
}

.sitter-page-calendar {
  width: 700px;
  height: 500px;
  background-color:  #e7eefd;
  border-radius: 7px;
  border-color: #5468ff;
  border-style: ridge;
  padding: 10px;
}

.sitter-page-info {
  margin: 10px;
}

.sitter-page-photo {
  border-radius: 100%;
  width: 225px;
  height: 225px;
  border-color: #5468ff;
  border-style: ridge;
}