.sitter-main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;

}

.sitter-input {
  width: 450px;
  background-image: radial-gradient(100% 100% at 100% 0, rgb(202, 202, 202) 0, rgb(161, 161, 161) 100%);
  padding: 5px 5px 20px;
  margin: 10px 0;
  border-radius: 7px;
  border-color: #5468ff;
  border-style: solid;
}

@media screen and (max-width: 768px) {
  .sitter-input {
  width: 350px;
  }
}