#sitter {
  display: flex;
  gap: 50px;
  margin: 20px
}

.sitter--photo {
  border-radius: 50%;
  width: 30%;
}

.sitter--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


