.sitters-page-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background:rgba(255,255,255, 0.8);
  width: 100%;
  height: 100%;
  margin: 15px 0;
  padding: 20px 20px;
  border-radius: 5px;
}

.sitters-page-info {
  width: 450px;
  height: 500px;
  background-color:  #e7eefd;
  border-radius: 7px;
  border-color: #5468ff;
  border-style: ridge;
  padding: 10px;
}

.sitters-page-photo {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  border-color: #5468ff;
  border-style: ridge;
}