
.sitter-item-photo {
  border-radius: 100%;
  width: 125px;
  height: 125px;
  border-color: #5468ff;
  border-style: ridge;
  margin-left: 20px;
}

.sitter-item-detailes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px 10px 10px 10px;
  height: 145px;
  background-color:  #e7eefd;
  border-color: #5468ff;
  border-style: ridge;
  width: 100%;
  padding: 6px 20px;
  margin: 20px 20px;
}

.sitter-item-info {
  margin: 7px 5px;
}

.sitter-item-link {
  text-decoration: none !important;
  cursor: pointer;
  color: black;
  font-family: 'Milonga', cursive;
}


