
.user-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background:rgba(255,255,255, 0.8);
  width: 100%;
  height: 100%;
  margin: 15px 0;
  padding: 20px 20px;
  border-radius: 5px;
}

.user-info {
  width: 350px;
  height: 500px;
  background-color:  #e7eefd;
  border-radius: 7px;
  border-color: #5468ff;
  border-style: ridge;
  padding: 10px;
}

.user-detailes {
  width: 90%;
  margin: 5%;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
}

.user-pets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 550px;
  height: 500px;
  background-color:  #e7eefd;
  border-radius: 7px;
  border-color: #5468ff;
  border-style: ridge;
  padding: 10px;
}

.user-pets > h4 {
  margin: 10px 5%;
  width: 90%;
  margin-top: 0;
}

.user-box {
  display: flex;
  align-items: center;
  width: 300px;
  flex-direction: column;
  padding: 10px;
}

#create-profile-text{
  padding-left: 25px;
}

.create-profile {
  background-color: #e7eefd;
  width: 250px;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  margin: 30px 10px;
  border-color: #5468ff;
  border-style: ridge;
  padding-top: 5%;
}

.user-link {
text-decoration: none;
color: black;
}

.create-profile:hover {
  background-color: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
}

.create-profile:active {
  background-image: radial-gradient(100% 100% at 100% 0, #5adbff 0, #5468ff 100%);
  transform: translateY(4px);
}

.user-pet-photo {
    border-radius: 25%;
    width: 120px;
    height: 120px;
    border-color: #5468ff;
    border-style: ridge;
    margin: 30px 20px;
}

.user-profile-photo {
  border-radius: 25%;
  border-color: #5468ff;
  border-style: ridge;
  width: 90%;
  margin: 0 auto;
}
























@media screen and (max-width: 768px) {

  .user-main {
    flex-direction: column;
  }
  .user-info, .user-pets, .user-box {
    width: 100%;
    margin: 10px 0;
  }
  .create-profile {
    margin: 20px;
    width:250px;
  }
}